a
  color $anchor-color
  text-decoration $anchor-text-decoration

a:visited
  color $anchor-visited-color
  text-decoration $anchor-visited-text-decoration

a:hover
  color $anchor-hover-color
  text-decoration $anchor-hover-text-decoration