button
  font-size $button-font-size
  border $button-border
  border-radius $button-border-radius
  padding $button-padding
  margin $button-margin
  color $button-color
  background-color $button-background-color

button:hover
  border $button-hover-border
  color $button-hover-color
  background-color $button-hover-background-color

button:active
  border $button-active-border
  color $button-active-color
  background-color $button-active-background-color

button[disabled],
button[disabled]:hover,
button[disabled]:active
  border $button-disabled-border
  color $button-disabled-color
  background-color $button-disabled-background-color

button.primary
  border $button-primary-border
  color $button-primary-color
  background-color $button-primary-background-color

button[disabled].primary,
button[disabled].primary:hover,
button[disabled].primary:active
  border $button-primary-disabled-border
  color $button-primary-disabled-color
  background-color $button-primary-disabled-color

button.secondary
  border $button-secondary-border
  color $button-secondary-color
  background-color $button-secondary-background-color

button[disabled].secondary,
button[disabled].secondary:hover,
button[disabled].secondary:active
  border $button-secondary-disabled-border
  color $button-secondary-disabled-color
  background-color $button-secondary-disabled-color

button.success
  border $button-success-border
  color $button-success-color
  background-color $button-success-background-color

button[disabled].success,
button[disabled].success:hover,
button[disabled].success:active
  border $button-success-disabled-border
  color $button-success-disabled-color
  background-color $button-success-disabled-color

button.warning
  border $button-warning-border
  color $button-warning-color
  background-color $button-warning-background-color

button[disabled].warning,
button[disabled].warning:hover,
button[disabled].warning:active
  border $button-warning-disabled-border
  color $button-warning-disabled-color
  background-color $button-warning-disabled-color

button.danger
  border $button-danger-border
  color $button-danger-color
  background-color $button-danger-background-color

button[disabled].danger,
button[disabled].danger:hover,
button[disabled].danger:active
  border $button-danger-disabled-border
  color $button-danger-disabled-color
  background-color $button-danger-disabled-color

button.small
  font-size $button-small-font-size
  border $button-small-border
  border-radius $button-small-border-radius
  padding $button-small-padding
  margin $button-small-margin

button.large
  font-size $button-large-font-size
  border $button-large-border
  border-radius $button-large-border-radius
  padding $button-large-padding
  margin $button-large-margin

button:focus
  outline 0

input[type='button']
  @extends button

input[type='submit']
  @extends button