button,
input[type="button"],
input[type="submit"]
  border $button-border
  border-radius $button-border-radius
  padding $button-padding
  margin $button-margin
  color $button-color
  background-color $button-background-color

button:active,
input[type="button"]:active,
input[type="submit"]:active
  border $button-active-border
  border-radius $button-active-border-radius
  padding $button-active-padding
  margin $button-active-margin
  color $button-active-color
  background-color $button-active-background-color