.code
  font-family $code-font
  border $code-border
  border-radius $code-border-radius
  padding $code-padding
  margin $code-margin
  background-color $code-background-color

pre.code
  margin $code-pre-margin