.container
  border $container-border
  padding $container-padding
  margin $container-margin

.container.narrow
  width $container-narrow-width
  margin-left auto
  margin-right auto

.container.very-narrow
  width $container-very-narrow-width
  margin-left auto
  margin-right auto