.grid
  width 100%
  overflow auto

.grid > div
  float left
  box-sizing border-box
  height 100%
  min-height 1px

for $i in (0..12)

  .col-{$i}
    width floor((100% / 12) * $i, 3)

for $name, $width in $screen-sizes

  @media screen and (min-width: $width)

    for $i in (0..12)

      .col-{$name + '-' + $i}

          width floor((100% / 12) * $i, 3)