.row
  width 100%
  overflow auto
  display flex

for $i in (1..12)

  .col-{$i}
    float left
    width floor((100% / 12) * $i, 3)
    padding $padding-medium

  .col-{$i}.small
    padding $padding-small

  .col-{$i}.large
    padding $padding-large

  .row.bordered .col-{$i}
    border 1px solid #eee
    box-sizing border-box

  for $flavor, $flavor-color in $flavors

    .col-{$i}.{$flavor}
      background-color lighten($flavor-color, 80%)

    .row.{$flavor} .col-{$i}
      background-color lighten($flavor-color, 80%)

    html .row .col-{$i}.{$flavor}
      background-color lighten($flavor-color, 80%)