.row
  width 100%
  overflow auto
  display flex

for $brand, $brand-color in $brands
  .col-{$i}.{$brand}
    background-color lighten($brand-color, 80%)

for $i in (1..12)

  .col-{$i}
    float left
    width floor((100% / 12) * $i, 3)
    padding $padding-medium

  .col-{$i}.small
    padding $padding-small

  .col-{$i}.large
    padding $padding-large

  .row.bordered .col-{$i}
    border 1px solid #eee
    box-sizing border-box

  for $brand, $brand-color in $brands

    .row.{$brand} .col-{$i}
      background-color lighten($brand-color, 80%)

    .col-{$i}.{$brand}
      background-color lighten($brand-color, 80%)