h1
  font-size $h1-font-size
  border $h1-border
  border-radius $h1-border-radius
  padding $h1-padding
  margin $h1-margin
  color $h1-color
  background-color $h1-background-color

h2
  font-size $h2-font-size
  border $h2-border
  border-radius $h2-border-radius
  padding $h2-padding
  margin $h2-margin
  color $h2-color
  background-color $h2-background-color

h3
  font-size $h3-font-size
  border $h3-border
  border-radius $h3-border-radius
  padding $h3-padding
  margin $h3-margin
  color $h3-color
  background-color $h3-background-color

h4
  font-size $h4-font-size
  border $h4-border
  border-radius $h4-border-radius
  padding $h4-padding
  margin $h4-margin
  color $h4-color
  background-color $h4-background-color

h5
  font-size $h5-font-size
  border $h5-border
  border-radius $h5-border-radius
  padding $h5-padding
  margin $h5-margin
  color $h5-color
  background-color $h5-background-color

h6
  font-size $h6-font-size
  border $h6-border
  border-radius $h6-border-radius
  padding $h6-padding
  margin $h6-margin
  color $h6-color
  background-color $h6-background-color