input[type='text'],
input[type='password']
  border $text-input-border
  border-radius $text-input-border-radius
  padding $text-input-padding
  margin $text-input-margin

input.block
  width 100%
  box-sizing border-box