input[type='text'],
input[type='password'],
input[type='email']
  border 1px solid darken(#fff, 35%)
  padding 7px

input.block
  width 100%
  box-sizing border-box

label
  display block
  padding 8px 0 4px 0