.panel
  border $panel-border-width $panel-border-style $panel-border-color
  border-radius $panel-border-radius
  padding $panel-padding
  margin $panel-margin
  color $panel-color
  background-color $panel-background-color