p
  border $paragraph-border
  border-radius $paragraph-border-radius
  padding $paragraph-padding
  margin $paragraph-margin
  color $paragraph-color
  background-color $paragraph-background-color
  line-height $paragraph-line-height
  font-size $font-size-medium

p.single-spaced
  line-height $paragraph-single-spaced-line-height

p.double-spaced
  line-height $paragraph-double-spaced-line-height

p.indented
  text-indent $paragraph-text-indent

p.small
  font-size $font-size-small

p.large
  font-size $font-size-large