p
  border $paragraph-border
  border-radius $paragraph-border-radius
  padding $paragraph-padding
  margin $paragraph-margin
  color $paragraph-color
  background-color $paragraph-background-color
  line-height $paragraph-line-height

p.single-spaced
  line-height $paragraph-single-spaced-line-height

p.double-spaced
  line-height $paragraph-double-spaced-line-height