/*
 * Base variables
 */

// colors
$color = #000
$background-color = #fff
$border-color = #c1c1c1

// flavors
$flavors = {
  red: #c0392b,
  orange: #d35400,
  yellow: #f1c40f,
  green: #27ae60,
  blue: #2980b9,
  purple: #8e44ad
}

// fonts
$font-size-small = 9px
$font-size-medium = 16px
$font-size-large = 21px

// borders
$border-width = 1px
$border-style = solid
$border-radius = 0

// paddings
$padding-small = 5px
$padding-medium = 8px
$padding-large = 12px

// margins
$margin-small = 5px
$margin-medium = 8px
$margin-large = 12px


/*
 * Headings
 */

// heading base
$heading-padding = 2px 0
$heading-margin = 0
$heading-color = $color
$heading-background-color = $background-color

// page heading
$page-heading-border-color = #b5b5b5
$page-heading-padding = $padding-medium 0
$page-heading-margin = $margin-large 0

// heading font sizes
$h1-font-size = round($font-size-medium * 3)
$h2-font-size = round($h1-font-size * 0.8)
$h3-font-size = round($h2-font-size * 0.8)
$h4-font-size = round($h3-font-size * 0.8)
$h5-font-size = round($h4-font-size * 0.8)
$h6-font-size = round($h5-font-size * 0.8)

/*
 * Anchors
 */

// base anchor
$anchor-color = #3261ab
$anchor-text-decoration = none

// visited anchor
$anchor-visited-color = $anchor-color
$anchor-visited-text-decoration = $anchor-text-decoration

// hovered anchor
$anchor-hover-color = $anchor-color
$anchor-hover-text-decoration = underline

/*
 * Paragraphs
 */

// base paragraph
$paragraph-border = 0
$paragraph-border-radius = 0
$paragraph-padding = 4px 0
$paragraph-margin = 3px 0
$paragraph-color = $color
$paragraph-background-color = $background-color
$paragraph-text-indent = 30px

// paragraph line spacing
$paragraph-line-height = 150%
$paragraph-single-spaced-line-height = 100%
$paragraph-double-spaced-line-height = 200%


/*
 * Buttons
 */

// button base
$button-font-size = $font-size-medium
$button-border-color = $border-color
$button-border = $border-width $border-style $button-border-color
$button-border-radius = $border-radius
$button-padding = $padding-medium
$button-margin = 0
$button-color = $color
$button-background-color = $background-color

// small button
$button-small-font-size = $font-size-small
$button-small-border-radius = $button-border-radius
$button-small-padding = $padding-small
$button-small-margin = 0

// large button
$button-large-font-size = $font-size-large
$button-large-border-radius = $button-border-radius
$button-large-padding = $padding-large
$button-large-margin = 0


/*
 * Containers
 */
$container-border = 0
$container-padding = $padding-medium
$container-margin = 0
$container-narrow-width = 60%
$container-very-narrow-width = 35%


/*
 * Panels
 */
$panel-border = $border-width $border-style $border-color
$panel-border-radius = $border-radius
$panel-padding = $padding-medium
$panel-margin = 0


/*
 * Code
 */

// code base
$code-font = "Courier New", Courier, monospace
$code-border = $border-width $border-style $border-color
$code-border-radius = $border-radius
$code-padding = $padding-small
$code-margin = 0
$code-background-color = #ebebeb

// pre code
$code-pre-margin = $margin-medium 0 0 0


/*
 * Headers
 */
$header-background-color = #f4f4f4
$header-border-color = #b5b5b5


/*
 * Footers
 */
$footer-background-color = #f4f4f4
$footer-border-color = #b5b5b5


/*
 * Input
 */

// text input
$text-input-border = $border-width $border-style $border-color
$text-input-border-radius = $border-radius
$text-input-padding = $padding-medium - 1px
$text-input-margin = 0