/*
 * Base variables
 */

// colors
$color = #000
$background-color = #fff
$border-color = #aaa

// fonts
$font-size = 14px

// borders
$border-width = 1px
$border-style = solid
$border-radius = 5px


/*
 * Headers
 */

// header base
$header-border = 0
$header-border-radius = 0
$header-padding = 2px 0
$header-margin = 0
$header-color = $color
$header-background-color = $background-color

// page header
$page-header-border-color = #b5b5b5
$page-header-padding = 10px 0
$page-header-margin = 30px 0 20px 0

// header font sizes
$h1-font-size = round($font-size * 3)
$h2-font-size = round($h1-font-size * 0.8)
$h3-font-size = round($h2-font-size * 0.8)
$h4-font-size = round($h3-font-size * 0.8)
$h5-font-size = round($h4-font-size * 0.8)
$h6-font-size = round($h5-font-size * 0.8)

// header borders
$h1-border = $header-border
$h2-border = $header-border
$h3-border = $header-border
$h4-border = $header-border
$h5-border = $header-border
$h6-border = $header-border
$h1-border-radius = $header-border-radius
$h2-border-radius = $header-border-radius
$h3-border-radius = $header-border-radius
$h4-border-radius = $header-border-radius
$h5-border-radius = $header-border-radius
$h6-border-radius = $header-border-radius

// header padding
$h1-padding = $header-padding
$h2-padding = $header-padding
$h3-padding = $header-padding
$h4-padding = $header-padding
$h5-padding = $header-padding
$h6-padding = $header-padding

// header margin
$h1-margin = $header-margin
$h2-margin = $header-margin
$h3-margin = $header-margin
$h4-margin = $header-margin
$h5-margin = $header-margin
$h6-margin = $header-margin

// header color
$h1-color = $header-color
$h2-color = $header-color
$h3-color = $header-color
$h4-color = $header-color
$h5-color = $header-color
$h6-color = $header-color

// header background color
$h1-background-color = $header-background-color
$h2-background-color = $header-background-color
$h3-background-color = $header-background-color
$h4-background-color = $header-background-color
$h5-background-color = $header-background-color
$h6-background-color = $header-background-color

/*
 * Anchors
 */

// base anchor
$anchor-color = #3261ab
$anchor-text-decoration = none

// visited anchor
$anchor-visited-color = $anchor-color
$anchor-visited-text-decoration = $anchor-text-decoration

// hovered anchor
$anchor-hover-color = $anchor-color
$anchor-hover-text-decoration = underline

/*
 * Paragraphs
 */

// base paragraph
$paragraph-border = 0
$paragraph-border-radius = 0
$paragraph-padding = 4px 0
$paragraph-margin = 3px 0
$paragraph-color = $color
$paragraph-background-color = $background-color
$paragraph-text-indent = 30px

// paragraph line spacing
$paragraph-line-height = 150%
$paragraph-single-spaced-line-height = 100%
$paragraph-double-spaced-line-height = 200%


/*
 * Buttons
 */

// button base
$button-font-size = $font-size
$button-border-color = $border-color
$button-border = $border-width $border-style $button-border-color
$button-border-radius = $border-radius
$button-padding = 8px
$button-margin = 0
$button-color = $color
$button-background-color = $background-color
$button-size-scale = 1.5
$button-hover-border-color = $button-border-color
$button-hover-color = $color
$button-hover-background-color = darken($button-primary-background-color, 20%)
$button-active-border-color = $button-border-color
$button-active-color = $color
$button-active-background-color = darken($button-primary-background-color, 35%)
$button-disabled-border-color = $button-border-color
$button-disabled-color = mix($color, invert($color), 65%)
$button-disabled-background-color = mix($background-color, invert($background-color), 65%)

// small button
$button-small-font-size = round($button-font-size / $button-size-scale)
$button-small-border-radius = round($button-border-radius / $button-size-scale)
$button-small-padding = round($button-padding / $button-size-scale)
$button-small-margin = round($button-margin  / $button-size-scale)

// large button
$button-large-font-size = round($button-font-size * $button-size-scale)
$button-large-border-radius = round($button-border-radius * $button-size-scale)
$button-large-padding = round($button-padding * $button-size-scale)
$button-large-margin = round($button-margin * $button-size-scale)

// primary button
$button-primary-border-color = $button-border-color
$button-primary-color = #fff
$button-primary-background-color = #0066ff
$button-primary-hover-border-color = $button-primary-border-color
$button-primary-hover-color = $button-primary-color
$button-primary-hover-background-color = darken($button-primary-background-color, 20%)
$button-primary-active-border-color = $button-primary-border-color
$button-primary-active-color = $button-primary-color
$button-primary-active-background-color = darken($button-primary-background-color, 35%)
$button-primary-disabled-border-color = $button-primary-border-color
$button-primary-disabled-color = mix($button-disabled-color, $button-primary-color)
$button-primary-disabled-background-color = mix($button-disabled-background-color, $button-primary-background-color)

// secondary button
$button-secondary-border-color = $button-border-color
$button-secondary-color = #fff
$button-secondary-background-color = #5cadff
$button-secondary-hover-border-color = $button-secondary-border-color
$button-secondary-hover-color = $button-secondary-color
$button-secondary-hover-background-color = darken($button-secondary-background-color, 20%)
$button-secondary-active-border-color = $button-secondary-border-color
$button-secondary-active-color = $button-secondary-color
$button-secondary-active-background-color = darken($button-secondary-background-color, 35%)
$button-secondary-disabled-border-color = $button-secondary-border-color
$button-secondary-disabled-color = mix($button-disabled-color, $button-secondary-color)
$button-secondary-disabled-background-color = mix($button-disabled-background-color, $button-secondary-background-color)

// success button
$button-success-border-color = $button-border-color
$button-success-color = #fff
$button-success-background-color = #61b827
$button-success-hover-border-color = $button-success-border-color
$button-success-hover-color = $button-success-color
$button-success-hover-background-color = darken($button-success-background-color, 20%)
$button-success-active-border-color = $button-success-border-color
$button-success-active-color = $button-success-color
$button-success-active-background-color = darken($button-success-background-color, 35%)
$button-success-disabled-border-color = $button-success-border-color
$button-success-disabled-color = mix($button-disabled-color, $button-success-color)
$button-success-disabled-background-color = mix($button-disabled-background-color, $button-success-background-color)

// warning button
$button-warning-border-color = $button-border-color
$button-warning-color = #fff
$button-warning-background-color = #f58a20
$button-warning-hover-border-color = $button-warning-border-color
$button-warning-hover-color = $button-warning-color
$button-warning-hover-background-color = darken($button-warning-background-color, 20%)
$button-warning-active-border-color = $button-warning-border-color
$button-warning-active-color = $button-warning-color
$button-warning-active-background-color = darken($button-warning-background-color, 35%)
$button-warning-disabled-border-color = $button-warning-border-color
$button-warning-disabled-color = mix($button-disabled-color, $button-warning-color)
$button-warning-disabled-background-color = mix($button-disabled-background-color, $button-warning-background-color)

// danger button
$button-danger-border-color = $button-border-color
$button-danger-color = #fff
$button-danger-background-color = #e64545
$button-danger-hover-border-color = $button-danger-border-color
$button-danger-hover-color = $button-danger-color
$button-danger-hover-background-color = darken($button-danger-background-color, 20%)
$button-danger-active-border-color = $button-danger-border-color
$button-danger-active-color = $button-danger-color
$button-danger-active-background-color = darken($button-danger-background-color, 35%)
$button-danger-disabled-border-color = $button-danger-border-color
$button-danger-disabled-color = mix($button-disabled-color, $button-danger-color)
$button-danger-disabled-background-color = mix($button-disabled-background-color, $button-danger-background-color)


/*
 * Containers
 */
$container-border = 0
$container-padding = 20px 30px
$container-margin = 0
$container-color = $color
$container-background-color = $background-color
$container-narrow-width = 60%


/*
 * Panels
 */
$panel-border = $border-width $border-style $border-color
$panel-border-radius = $border-radius
$panel-padding = 10px
$panel-margin = 0
$panel-color = $color
$panel-background-color = $background-color


/*
 * Code
 */
$code-font = "Courier New", Courier, monospace
$code-border = 0
$code-border-radius = 0
$code-padding = 2px
$code-margin = 0