
$font-size-base = 14px

$font-size-h1 = $font-size-base * 3
$font-size-h2 = $font-size-base * 2.5
$font-size-h3 = $font-size-base * 2
$font-size-h4 = $font-size-base * 1.5
$font-size-h5 = $font-size-base * 1
$font-size-h6 = $font-size-base * 0.5
